<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  <script src="/javascripts/angular.js"></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="meninos-de-oiro">
    <ui-view></ui-view>
    <script type="text/ng-template" id="/admin.html">
   </script>
    <script type="text/ng-template" id="/home.html">
      <div class="container">

        <h2 class="form-signin-heading" style="text-align:center; margin-bottom:50px; border-bottom: 1px solid #000; padding-bottom:15px;"> Administração - Meninos de Oiro </h2>

    <div class="page-header text-center" style=" width:100%;">
        <div style=" display: inline-block; width:100%; height:100%;">
          <p style="float:left;"> Bem-vindo(a) <strong><%= user.local.username %></strong>. </p>
          <a href="/logout" class="btn btn-default btn-sm" style="float:right;">Terminar Sessão</a></div>
    </div>



    <div class="row">
        <!-- LOCAL INFORMATION -->
        </div>

    </div>

</div>
<div class="container-fluid" style="margin:15px;">
  <div class="col-sm-6" style="width:95vw; margin:10px;">
  <div class="row" ng-controller="TableCtrl">
    <div class="procedure-details" ng-show="showDetails" style="position:absolute; left:22.5vw; background-color:white; width:50vw; padding:40px; border-radius:25px; z-index:2;">
      <!-- LOGIN FORM -->
      <button type="button" ng-click="showDetails = ! showDetails" class="btn btn-xs btn-danger" style="float:right; border-radius:25px;">
      <i class="glyphicon glyphicon-remove-sign"></i>
      </button>
      <form ng-submit="addNews()" name="newNewsForm">
          <h2 style="margin-bottom:20px;"><u>Nova Notícia</u></h2>
          <div class="form-group">
              <label>Categoria:</label>
                <select class="form-control" name="categoriaSelect" ng-model="categoria">
                  <option>Artigo</option>
                  <option>Relatório</option>
                  <option>Evento</option>
                </select>
          </div>
          <div class="form-group">
              <label>Título:</label>
              <input type="text" class="form-control" name="titulo" ng-model="titulo" placeholder="Por favor introduza o título da notícia.">
          </div>
          <div class="form-group">
              <label>URL / Link:</label>
              <input type="text" class="form-control" name="link" ng-model="link" placeholder="Por favor introduza o URL/Link da notícia.">
          </div>
          <div class="form-group">
              <label>Rubrica:</label>
              <input type="text" class="form-control" name="rubrica" ng-model="rubrica" placeholder="Por favor introduza a rubrica notícia.">
          </div>
          <div class="form-group" style="display:inline-block;">
            <label>Imagem:</label>
            <br>
            <label for="files" class="btn btn-sm btn-success" style="margin-left:5px;">Escolha uma imagem do seu computador</label>&nbsp; ou &nbsp; <input type="text" class="form-control" name="imagem" ng-model="imagem" placeholder="Introduza o link da imagem." style="display:inline-block; width:15vw;">
            <input id="files" onchange="angular.element(this).scope().fileNameChanged(this)" type="file" class="form-control" name="uploadImageFile" placeholder="Por favor escolha uma imagem do seu computador." style="visibility:hidden;">
          </div>
          <div class="form-group">
              <label>Texto:</label>
              <input type="text" class="form-control" name="texto" ng-model="texto" placeholder="Por favor introduza o texto de corpo da notícia.">
          </div>
          <div>
          <button type="submit" class="btn btn-sm btn-success" style="float:right; margin-top:10px;" ng-click="showDetails = ! showDetails">
          <i class="glyphicon glyphicon-ok"></i> &nbsp;  &nbsp; &nbsp;Inserir Notícia
          </button>
          </div>
      </form>
   </div>
<table st-table="rowCollection" class="table table-striped" style="height:80vh; width:100%;" st-safe-src="collection" st-watch-changes="true">
  <thead>
  <tr>
    <th>Categoria</th>
    <th>Titulo</th>
    <th>Link</th>
    <th>Titulo Extendido</th>
    <th>Imagem</th>
    <th>Texto</th>
    <th>Data</th>
    <th>Likes</th>
    <th>
      <button type="button" ng-click="showDetails = ! showDetails" class="btn btn-sm btn-success" style="float:left;">
      <i class="glyphicon glyphicon-plus-sign"></i> Nova Notícia
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="newsPost in news | orderBy:'-date'">
    <td ><div  ng-model="row.category">{{newsPost.category}}</td>
    <td><div contentEditable="true" ng-model="row.title">{{newsPost.title}}</td>
    <td><div contentEditable="true" ng-model="row.link">{{newsPost.link}}</td>
    <td><div contentEditable="true" ng-model="row.body">{{newsPost.body}}</td>
    <td><div  ng-model="row.imageLink"><div style=" position: relative;
  width: 180px;
  height: 100px;
  overflow: hidden;"><img src="{{newsPost.imageLink}}" style="position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);"></div></td>
    <td><div contentEditable="true" ng-model="row.text">{{newsPost.text}}</td>
    <td><div ng-model="row.date">{{newsPost.date | date :'dd-M-yyyy H:mm'}}</td>
    <td><div ng-model="row.upvotes">{{newsPost.upvotes}}</td>
    <td>
<button type="button" ng-click="removeItem(row,newsPost)" class="btn btn-sm btn-danger">
<i class="glyphicon glyphicon-trash">
</i>
</button>
</td>
  </tr>
  </tbody>
</table>
</div>
</div>
  </body>
</html>
