<!DOCTYPE html>
<html ng-app="meninos-de-oiro">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="javascripts/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="javascripts/slick-carousel/slick/slick-theme.css">
<link rel="stylesheet" href="stylesheets/angular-material.min.css">
<!-- Angular Material requires Angular.js Libraries -->
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-animate.min.js"></script>
<script src="javascripts/angular-aria.min.js"></script>
<script src="javascripts/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="javascripts/angular-material.min.js"></script>

<!-- Include the JS ReCaptcha API -->
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
<script src="/javascripts/angular-recaptcha.js"></script>
<script src="/javascripts/angular-ui-router.js"></script>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/rzslider.js"></script>
<script src="/javascripts/angular.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/angular-slick.min.js"></script>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/responsive.css' />
</head>
<body>
  <nav class="navbar navbar-default">
    <div id="navbarContainer" class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo-meninos.png"></img></a>
      </div>
      <div id="navBarHeaderContainer">
        <div class="navbar-header-links">
          <li><a href="/donatenow" id="donateNowButton" style="padding-right:0px;">DOE AGORA</a></li>
          <li><a>|</a></li>
          <li><a href="/membership" style="padding-right:0px;">Já Se Tornou Membro?</a></li>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="mainNavBar">
        <div id="navBarBelowContainer">
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:#cea44a;" ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/">Homepage</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = true ; showSubMenuPartners = false">Sobre Nós</a></li>
              <li><a href="/mission" id="mobileSubMenu">Missão</a></li>
              <li><a href="/projectspage" id="mobileSubMenu">Projectos</a></li>
              <li><a href="/financePage" id="mobileSubMenu">Demonstrações Financeiras</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = true">Parceiros</a></li>
              <li><a href="/membership" id="mobileSubMenu">Inscrição</a></li>
              <li><a href="/donatenow" id="mobileSubMenu">Doar Agora</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/acknowledgments">Agradecimentos</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/contacts" style="padding-right:0px;">Contactos</a></li>
        </ul>
      </div>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
    <div id="subMenu">
      <div id="subMenuAbout" ng-show="showSubMenuAbout">
        <div id="subMenuAboutContainer">
          <a href="/mission">Missão</a>
          <a style="pointer-events: none;">|</a>
          <a href="/projectspage">Projectos</a>
          <a style="pointer-events: none;">|</a>
          <a style="padding-right:0px;" href="/financePage">Demonstrações Financeiras</a>
        </div>
      </div>
      <div id="subMenuPartners" ng-show="showSubMenuPartners">
        <div id="subMenuPartnersContainer">
          <a href="/membership">Inscrição</a>
          <a style="pointer-events: none;">|</a>
          <a style="padding-right:0px;" href="/donatenow" >Doar Agora</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="map" style="height:50vh; margin-top:-28px;"></div>
  <script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 38.519388, lng: -9.013801},
      zoom: 10,
      scrollwheel:false,
      styles: [
        {
          "featureType": "all",
          "elementType": "all",
          "stylers": [
            {
              "hue": "#ff0000"
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#e8e8e8"
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "visibility": "off"
            },
            {
              "hue": "#ff0000"
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels",
          "stylers": [
            {
              "visibility": "on"
            },
            {
              "color": "#185472"
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text",
          "stylers": [
            {
              "color": "#185472"
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "saturation": 36
            },
            {
              "color": "#185472"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "visibility": "off"
            },
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#fefefe"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#fefefe"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dedede"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 18
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f2f2f2"
            },
            {
              "lightness": 19
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e9e9e9"
            },
            {
              "lightness": 17
            }
          ]
        }
      ],
    });

    var icon = {
    url: "/images/icone-meninos.png", // url
    scaledSize: new google.maps.Size(64, 64), // scaled size
    origin: new google.maps.Point(0,0), // origin
    anchor: new google.maps.Point(32, 64) // anchor
  };


    var image = '/images/logo-meninos.png';

    image.size = new google.maps.Size(20, 32);

    var marker = new google.maps.Marker({
     position: {lat: 38.519388, lng: -9.013801},
     map: map,
     icon: icon,
     title: 'Associação Meninos de Oiro',
   });

   marker.setAnimation(google.maps.Animation.BOUNCE);
  }

  function toggleBounce() {
   if (marker.getAnimation() !== null) {
     marker.setAnimation(null);
   } else {
     marker.setAnimation(google.maps.Animation.BOUNCE);
   }
 }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRXsjHvgde-ViXIMNnCzBoI0JJ-JI53Vw&callback=initMap">
  </script>
  <div class="container-fluid" id="containerContacts">
    <div class="row" id="rowContacts">
      <div class="col-md-6">
        <h1 style="padding-bottom:20px;">Contactos</h1>
        <p style="padding-bottom:10px;"><b> <p> MENINOS DE OIRO - Associação para a Defesa dos Direitos da Criança de Azeitão e Setúbal </b></p>
        <p style="padding-bottom:10px;"><b> <p> Morada: </p> </b> <p> <b> Rua Juventude Azeitonense, Lote 145, 2925-588 Azeitão </b></p>
        <p style="padding-bottom:10px;"><b> <p> Telefone: </p> </b> <p> <b> 21.218.0703 / 96 567 1738 / 91 758 7766 </b></p>
        <p style="padding-bottom:10px;"><b> <p> E-mail: </p> </b> <p> <b> meninosdeoiro@gmail.com </b></p>
      </div>
      <div class="col-md-6" ng-controller="ContactsCtrl" style="padding:0px;">
        <form id="contactFormContainer" ng-submit="submitContactForm()" name="newContactForm">
          <input id="contactName" class="contactForm" type="text" name="Nome" ng-model="nomeContacto" placeholder="Nome Completo">
          <input id="contactEmail" class="contactForm" type="email" name="Email" ng-model="emailContacto" placeholder="E-Mail">
          <br>
          <textarea id="textAreaContact" class="contactForm" name="Mensagem" ng-model="textoContacto" placeholder="Escreva a sua mensagem..."></textarea>
          <br>
          <div style="padding-top:20px;">
            <div vc-recaptcha class="g-recaptcha" theme="light" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" style="margin-left:-48px; margin-top:-18px; width:300px; transform:scale(0.68);"></div>
            <button id="buttonSubmitContact" type="submit" value="Submit"> Enviar </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="height:15vh; margin-top:40px;">
    <div id="footer">
      <div class="row" id="footerRow">
        <div class="col-md-6" id="footerLeft">
        <br>
        <br>
        <p>
          MENINOS DE OIRO – Associação para a Defesa dos Direitos da Criança de Azeitão e Setúbal
            <br>
            Sede: Rua Juventude Azeitonense, Lote 145, 2925-588 Azeitão
            <br>
            Telefones: 21.218.0703 / 96 567 1738 / 91 758 7766
            <br>
            Email: meninosdeoiro@gmail.com
            <br>
            Nº de Identificação fiscal: 506 414 035
            <br>
            <br>
            <br>
        </p>
      </div>
    <div class="col-md-6" id="footerRight">
      <p>© 2016 Associação Meninos-de-Oiro - Todos os Direitos Reservados
        <br>
      Design e Desenvolvimento feito por <a>PUSH</a></p>
    </div>
    </div>
    </div>
  </div>
</body>
</html>
