<!DOCTYPE html>
<html ng-app="meninos-de-oiro">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="javascripts/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="javascripts/slick-carousel/slick/slick-theme.css">
<link rel="stylesheet" href="stylesheets/angular-material.min.css">
<!-- Angular Material requires Angular.js Libraries -->
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/angular-animate.min.js"></script>
<script src="javascripts/angular-aria.min.js"></script>
<script src="javascripts/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="javascripts/angular-material.min.js"></script>

<!-- Include the JS ReCaptcha API -->
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
<script src="/javascripts/angular-recaptcha.js"></script>
<script src="/javascripts/angular-ui-router.js"></script>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/rzslider.js"></script>
<script src="/javascripts/angular.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/angular-slick.min.js"></script>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/responsive.css' />
</head>
<body>
  <nav class="navbar navbar-default">
    <div id="navbarContainer" class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo-meninos.png"></img></a>
      </div>
      <div id="navBarHeaderContainer">
        <div class="navbar-header-links">
          <li><a href="/donatenow" id="donateNowButton" style="padding-right:0px;">DOE AGORA</a></li>
          <li><a>|</a></li>
          <li><a href="/membership" style="padding-right:0px;">Já Se Tornou Membro?</a></li>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="mainNavBar">
        <div id="navBarBelowContainer">
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color:#cea44a;" ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/">Homepage</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = true ; showSubMenuPartners = false">Sobre Nós</a></li>
              <li><a href="/mission" id="mobileSubMenu">Missão</a></li>
              <li><a href="/projectspage" id="mobileSubMenu">Projectos</a></li>
              <li><a href="/financePage" id="mobileSubMenu">Demonstrações Financeiras</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = true">Parceiros</a></li>
              <li><a href="/membership" id="mobileSubMenu">Inscrição</a></li>
              <li><a href="/donatenow" id="mobileSubMenu">Doar Agora</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/acknowledgments">Agradecimentos</a></li>
            <li><a id="navbarSeparator" style="pointer-events: none;">|</a></li>
            <li><a ng-mouseover="showSubMenuAbout = false ; showSubMenuPartners = false" href="/contacts" style="padding-right:0px;">Contactos</a></li>
        </ul>
      </div>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
    <div id="subMenu">
      <div id="subMenuAbout" ng-show="showSubMenuAbout">
        <div id="subMenuAboutContainer">
          <a href="/mission">Missão</a>
          <a style="pointer-events: none;">|</a>
          <a href="/projectspage">Projectos</a>
          <a style="pointer-events: none;">|</a>
          <a style="padding-right:0px;" href="/financePage">Demonstrações Financeiras</a>
        </div>
      </div>
      <div id="subMenuPartners" ng-show="showSubMenuPartners">
        <div id="subMenuPartnersContainer">
          <a href="/membership">Inscrição</a>
          <a style="pointer-events: none;">|</a>
          <a style="padding-right:0px;" href="/donatenow" >Doar Agora</a>
        </div>
      </div>
    </div>
  </nav>
  <ui-view></ui-view>
  <script type="text/ng-template" id="/home.html">
    <div class="row" id="topRow">
      <div class="col-md-6" style="padding:0px; height:100%;">
        <div id="mainImageContainer" ng-style="{'background-image':'url('+ mainImage +')'}"></div>
      </div>
      <div class="col-md-6" id="topRowSecondColumn">
        <div>
          <div id="homePageMainTextTitle">{{title}}<div id="homePageMainTextDate">{{date | date :'dd-M-yyyy H:mm'}}</div></div>
        </div>
        <div id="homePageMainText">{{text}}</div>
        <div id="donateTexts" ng-controller="DonateBoxCtrl">
          <div  id="donateBoxDoarAgora" >
            <p ng-show="selectedText == 1">{{structuralInfo[0].tituloDoacao1}}</p>
            <p ng-show="selectedText == 2">{{structuralInfo[0].tituloDoacao2}}</p>
            <p ng-show="selectedText == 3">{{structuralInfo[0].tituloDoacao3}}</p>
            <p ng-show="selectedText == 4">{{structuralInfo[0].tituloDoacao4}}</p>
          </div>
          <div id="donateBoxButtonsContainer">
            <div class="donateBoxButtonDiv" ng-click="changePage(1)">
              <div class="donateBoxButtonDivInside"><img src="images/icon/paypal-logo.png" width="32" height="32"></img></div><div class="donateBoxButtonDivInsideText"><p> PayPal </p></div>
            </div>
            <div class="donateBoxButtonDiv" ng-click="changePage(2)">
              <div class="donateBoxButtonDivInside"><img src="images/icon/phone-call.png" width="32" height="32"></img></div><div class="donateBoxButtonDivInsideText"><p> Chamada </p></div>
            </div>
            <div class="donateBoxButtonDiv" ng-click="changePage(3)">
              <div class="donateBoxButtonDivInside"><img src="images/icon/bank-transfer-logo.png" width="32" height="32"></img></div><div class="donateBoxButtonDivInsideText"><p> Transferência </p></div>
            </div>
            <div class="donateBoxButtonDiv" ng-click="changePage(4)">
              <div class="donateBoxButtonDivInside"><img src="images/icon/donation.png" width="32" height="32"></img></div><div class="donateBoxButtonDivInsideText"><p> Doação </p></div>
            </div>
          </div>
          <div id="donateBoxTextoDoacao">
            <p ng-show="selectedText == 1" class="donateTexto">{{structuralInfo[0].textoDoacao1}}</p>
            <p ng-show="selectedText == 2" class="donateTexto">{{structuralInfo[0].textoDoacao2}}</p>
            <p ng-show="selectedText == 3" class="donateTexto">{{structuralInfo[0].textoDoacao3}}</p>
            <p ng-show="selectedText == 4" class="donateTexto">{{structuralInfo[0].textoDoacao4}}</p>
          </div>
          <div id="dotsDonationBox">
            <ul>
              <li><div class="dotsDonationBoxItem" ng-click="selectedText=1" ng-style="selectedText == 1 && {'background-color':'#cea44a'} || {'background-color':'#185472'}"></div></li>
              <li><div class="dotsDonationBoxItem" ng-click="selectedText=2" ng-style="selectedText == 2 && {'background-color':'#cea44a'} || {'background-color':'#185472'}"></div></li>
              <li><div class="dotsDonationBoxItem" ng-click="selectedText=3" ng-style="selectedText == 3 && {'background-color':'#cea44a'} || {'background-color':'#185472'}"></div></li>
              <li><div class="dotsDonationBoxItem" ng-click="selectedText=4" ng-style="selectedText == 4 && {'background-color':'#cea44a'} || {'background-color':'#185472'}"></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="newsRowContainer">
      <div class="col-md-4 col-sm-4 col-xs-4" id="newsRowColMd4" ng-repeat="newsPost in news | orderBy:'-date' | limitTo:-6" ng-style="$index % 3 == 0 && {'margin-left':'0px'} || {'margin-left':'14px'} ">
        <div id="newsRowImages" style="background-image:url({{newsPost.imageLink}})" ng-click="changeMainFocus(newsPost,$event);">
          <div id="newsRowBoxes" ng-style="newsPost.category === category1.name && {'background-color': category1.color} ||
          newsPost.category === category2.name && {'background-color': category2.color} ||
          newsPost.category === category3.name && {'background-color': category3.color}">
          <div id="newsRowIcons" ng-if="newsPost.category == category1.name">
            <img src="{{category1.icon}}"></img>
          </div>
          <div id="newsRowIcons" ng-if="newsPost.category == category2.name">
            <img src="{{category2.icon}}"></img>
          </div>
          <div id="newsRowIcons" ng-if="newsPost.category == category3.name">
            <img src="{{category3.icon}}"></img>
          </div>
          <div id="newsRowTextTitle">{{newsPost.title}}</div>
          <div id="newsRowTextDate">{{newsPost.date | date:'dd-M-yyyy H:mm'}}</div>
          <div id="newsRowTextBody">{{newsPost.body}}</div>
        </div>
      </div>
      <div id="newsRowLikeIcon" ng-if="newsPost.category == category1.name"  ng-click="newsLikeIsDisabled(newsPost._id) || incrementUpvotes(newsPost); disableLike($event,newsPost._id); $event.stopPropagation();">
        <img src="{{category1.likeIcon}}"><p> {{newsPost.upvotes}} </p></img>
      </div>
      <div id="newsRowLikeIcon" ng-if="newsPost.category == category2.name"  ng-click="newsLikeIsDisabled(newsPost._id) || incrementUpvotes(newsPost); disableLike($event,newsPost._id); $event.stopPropagation();">
        <img src="{{category2.likeIcon}}"><p> {{newsPost.upvotes}} </p></img>
      </div>
      <div id="newsRowLikeIcon" ng-if="newsPost.category == category3.name" ng-click="newsLikeIsDisabled(newsPost._id) || incrementUpvotes(newsPost); disableLike($event,newsPost._id); $event.stopPropagation();">
        <img src="{{category3.likeIcon}}"><p> {{newsPost.upvotes}} </p></img>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div id="storyBoxControlDiv" ng-controller="StoryBoxCtrl">
      <div class="row" id="storyBoxControlRow">
        <div class="col-md-6" style="padding:0px;">
          <h1 id="storyBoxControlDivTitle"> As Nossas Histórias </h1>
          <div ng-repeat="story in stories" ng-init="convertVideoLinksToTrust()">
            <div class="storiesIndexVideo" ng-show="$index == 0 && selectedStory == 1"><iframe class="iFrameStoriesFP" src="{{story.trustedVideoLink}}" frameborder="0" allowfullscreen></iframe></div>
            <div class="storiesIndexVideo" ng-show="$index == 1 && selectedStory == 2"><iframe class="iFrameStoriesFP" src="{{story.trustedVideoLink}}" frameborder="0" allowfullscreen></iframe></div>
            <div class="storiesIndexVideo" ng-show="$index == 2 && selectedStory == 3"><iframe class="iFrameStoriesFP" src="{{story.trustedVideoLink}}" frameborder="0" allowfullscreen></iframe></div>
            <div class="storiesIndexVideo" ng-show="$index == 3 && selectedStory == 4"><iframe class="iFrameStoriesFP" src="{{story.trustedVideoLink}}" frameborder="0" allowfullscreen></iframe></div>
          </div>
        </div>
        <div id="storiesIndexText" class="col-md-6">
          <div ng-repeat="story in stories">
            <div ng-show="$index == 0 && selectedStory == 1" >
              <h1> {{story.title}}</h1>
              <p>"{{story.text}}"</p>
            </div>
            <div ng-show="$index == 1 && selectedStory == 2" >
              <h1> {{story.title}}</h1>
              <p>"{{story.text}}"</p>
            </div>
            <div ng-show="$index == 2 && selectedStory == 3">
              <h1> {{story.title}}</h1>
              <p>"{{story.text}}"</p>
            </div>
            <div ng-show="$index == 3 && selectedStory == 4">
              <h1> {{story.title}}</h1>
              <p>"{{story.text}}"</p>
            </div>
          </div>
          <div id="dotStoriesIndex">
            <ul>
              <li><div class="dotStoriesIndexDiv" ng-click="selectedStory=1" ng-style="selectedStory == 1 && {'background-color':'#cea44a'} || {'background-color':'lightgrey'}"></div></li>
              <li><div class="dotStoriesIndexDiv" ng-click="selectedStory=2" ng-style="selectedStory == 2 && {'background-color':'#cea44a'} || {'background-color':'lightgrey'}"></div></li>
              <li><div class="dotStoriesIndexDiv" ng-click="selectedStory=3" ng-style="selectedStory == 3 && {'background-color':'#cea44a'} || {'background-color':'lightgrey'}"></div></li>
              <li><div class="dotStoriesIndexDiv" ng-click="selectedStory=4" ng-style="selectedStory == 4 && {'background-color':'#cea44a'} || {'background-color':'lightgrey'}"></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="partnerBox" ng-controller="PartnerBoxCtrl">
          <h1> Parceiros </h1>
        <div id="slickCarouselPartners">
          <slick init-onload="false" data="dataLoaded" autoplay="true" autoplaySpeed="500" dots="false" variable-width="true" arrows="true" infinite="true" speed="300" slides-to-show="4" touch-move="false" slides-to-scroll="1" >
            <div ng-repeat="partner in partners">
              <ul>
                <li>
                  <img src="{{partner.iconPath}}"></img>
                </li>
              </ul>
            </div>
          </slick>
        </div>
    </div>
  </div>
  <div class="container-fluid" style="height:15vh;">
    <div id="footer">
      <div class="row" id="footerRow">
        <div class="col-md-6" id="footerLeft">
        <br>
        <br>
        <p>
          MENINOS DE OIRO – Associação para a Defesa dos Direitos da Criança de Azeitão e Setúbal
            <br>
            Sede: Rua Juventude Azeitonense, Lote 145, 2925-588 Azeitão
            <br>
            Telefones: 21.218.0703 / 96 567 1738 / 91 758 7766
            <br>
            Email: meninosdeoiro@gmail.com
            <br>
            Nº de Identificação fiscal: 506 414 035
            <br>
            <br>
            <br>
        </p>
      </div>
    <div class="col-md-6" id="footerRight">
      <p>© 2016 Associação Meninos-de-Oiro - Todos os Direitos Reservados
        <br>
      Design e Desenvolvimento feito por <a>PUSH</a></p>
    </div>
    </div>
    </div>
  </div>
</script>
</body>
</html>
