<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/auxFunctions.js"></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="meninos-de-oiro">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="bottom:45px; left:40px; position:absolute;"><img src="/images/logo-meninos.png" width="111px" height="87px"></img></a>
    </div>
    <div class="navbar-header-links">
      <li><a href="#" style="font-size:18px; font-weight:600; color:#cea44a">DOE AGORA</a></li>
      <li><a>|</a></li>
      <li><a href="/membership">Já Se Tornou Membro?</a></li>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Homepage</a></li>
        <li><a style="pointer-events: none;">|</a></li>
        <li><a href="/about">Sobre Nós</a></li>
        <li><a style="pointer-events: none;">|</a></li>
        <li><a href="/partners">Parceiros</a></li>
        <li><a style="pointer-events: none;">|</a></li>
        <li><a href="/acknowledgments">Agradecimentos</a></li>
        <li><a style="pointer-events: none;">|</a></li>
        <li><a href="/contacts">Contactos</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </body>
</html>
