:root {
    --globalwidth: 720px;
    --goldenColor: #cea44a;
    --blueColor: #185472;
    --greyColor: #dedede;
}

@font-face {
    font-family: MyriadPro;
    src: url(/fonts/MYRIADPRO-REGULAR.OTF);
}

body {
  background-color:var(--greyColor);
  width:100%;
  height:auto;
  font-family: 'MyriadPro', sans-serif;
  overflow-x:hidden;
}

/*
 * NAVIGATION BARS
 */
.navbar
{
  height:100px;
  width:100%;
  margin:auto;
  background-color:white;
  margin-bottom:70px;
  box-shadow: 0px 2px 5px 0px darkgrey;te
  font-size:small;
}

#mobileSubMenu
{
  display:none;
}

#navbarContainer
{
  width:calc(var(--globalwidth)*2);
  height:100%;
}

.navbar-collapse
{
  padding:0px;
}

.navbar-right
{
  width:auto;
  padding:0px;
  margin:0px;
  float:right;
  margin-top:52px;
}

.navbar-brand
{
  position:absolute;
}

.navbar-brand img
{
  width:auto;
  height:9vh;
  margin:0px;
  margin-left:0px;
  margin-top:-1vh;
}

#navBarBelowContainer
{
 height:100%;
 width:calc(var(--globalwidth)*2);
 position:absolute;
}

.navbar-default .navbar-nav li a {
    color: darkgrey;
    font-weight:bold;
}

.navbar-default .navbar-nav li a:hover {
    color: var(--goldenColor);
    font-weight:bold;
}

.navbar-header-links
{
  position:absolute;
  top:15px;
  width:calc(var(--globalwidth)*2);
  z-index:2;
}

.navbar-header-links li
{
  display:inline;
}

.navbar-header-links li a
{
  color: darkgrey;
  font-weight:bold;
  padding:10px;
  float:right;
  cursor:pointer;
}

.navbar-header-links li a:hover {
    color: var(--goldenColor);
    font-weight:bold;
    text-decoration:none;
}

#subMenu
{
  width:100%;
  height:40px;
  background-color:#185472;
  box-shadow: 0px 2px 5px 0px darkgrey;
}

#subMenu a
{
  color:lightgrey;
  text-decoration:none;
  padding:13.5px;
}

#subMenu a:hover
{
  color:var(--goldenColor);
}

#subMenuAbout
{
  width:calc(var(--globalwidth)*2);
  margin:auto;
  padding-top:10px;
  font-weight:600;
}

#subMenuAboutContainer
{
  float:right;
  margin-right:55px;
}

#subMenuPartners
{
  width:calc(var(--globalwidth)*2);
  margin:auto;
  padding-top:10px;
  font-weight:600;
}

#subMenuPartnersContainer
{
  float:right;
  margin-right:150px;
}

/*
 * MAIN PAGE TOP ROW
 */

 #topRow
 {
   width:calc(var(--globalwidth)*2);
   margin:auto;
 }

 #topRowSecondColumn
 {
   padding-left:10px;
   padding-right:0px;
 }

 #mainImageContainer
 {
   width:100%;
   height:452px;
   background-size:cover;
   background-position:50% 50%;
   box-shadow: 5px 5px 15px 0px darkgrey;
 }

 #homePageMainTextTitle
 {
   width:100%;
   color:var(--goldenColor);
   font-size:x-large;
   font-weight:700;
   float:right;
 }

 #homePageMainText
 {
   padding-top:5px;
   color:#939393;
   border-top: 2px solid lightgrey;
   float: right;
   font-size:100%;
   text-align:justify;
   font-weight:600;
   height:200px;
 }

 #homePageMainTextDate
 {
   margin-top:10px;
   color:#939393;
   font-size:medium;
   width:140px;
   font-weight:600;
   text-align:right;
   float:right;
 }

 /*
  * MAIN PAGE TOP ROW - DONATION BOX
  */
  #donateTexts
  {
    width:100%;
    height:220px;
    background-color:lightgrey;
    border-bottom-right-radius:15px;
    font-weight:600;
    clear:both;
  }

  #donateBoxDoarAgora
  {
    padding-top:5px;
    background-color:#185472;
    height:25px;
  }

  #donateBoxDoarAgora p
  {
    margin-left:10px;
    color:white;
    font-weight:bold;
  }

  #donateBoxButtonsContainer
  {
    background-color:#185472;
    height:175px;
    width:300px;
    float:right;
    margin-top:10px;
    margin-right:10px;
  }

  #donateBoxTextoDoacao
  {
    position:absolute;
    width:52%;
    height:80%;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
  }

  .donateTexto
  {
    color:dimgrey ;
    font-size:85%;
    text-align:justify;
  }

  .donateBoxButtonDiv
  {
    width:100%;
    height:25%;
    border:1px solid lightgrey;
  }

  .donateBoxButtonDivInside
  {
    float:left;
    padding:5px;
  }

  .donateBoxButtonDiv:hover
  {
    cursor:pointer;
    background-color:var(--goldenColor);
  }

  .donateBoxButtonDivInside img
  {
    border:1.5px solid lightgrey;
    border-radius:5px;
    padding:4px;
  }

  .donateBoxButtonDivInsideText
  {
    margin-top:13px;
    color:lightgrey;
    font-size:14px;
    text-align:center;
  }

  .donateBoxButtonDivPage
  {
    width:100%;
    height:25%;
    border:1px solid lightgrey;
  }

  .donateBoxButtonDivInsidePage
  {
    float:left;
    padding:6px;

  }

  .donateBoxButtonDivInsidePage img
  {
    margin-top:4px;
    border:1.5px solid lightgrey;
    border-radius:5px;
    padding:4px;
  }

  .donateBoxButtonDivInsideTextPage
  {
    margin-top:8px;
    color:lightgrey;
    font-size:20px;
    text-align:center;
  }

  #dotsDonationBox
  {
    background-color:lightgrey;
    width:90px;
    height:25px;
    position:absolute;
    right:10px;
    bottom:10px;
    border-top-left-radius:10px;
    cursor:pointer;
  }

  #dotsDonationBox ul
  {
    list-style: none;
    padding-left:0px;
    margin-top:4px;
  }

  #dotsDonationBox ul li
  {
    float:left;
    padding-left:5px;
  }

  .dotsDonationBoxItem
  {
    display: block;
    width:17px;
    height:17px;
    border-radius:25px;
  }

 /*
  * MAIN PAGE NEWS ROW
  */

#newsRowContainer
{
  width:calc(var(--globalwidth)*2);
  margin:auto;
  margin-top:16px;
}

#newsRowColMd4
{
  width:32.66666%;
  margin-bottom:15px;
  padding:0px;
}

#newsRowColMd4:hover
{
  cursor:pointer;
}

#newsRowImages
{

  width:100%;
  display:block;
  color:black;
  height:350px;
  background-size:cover;
  background-position:50% 0%;
  position:relative;
  box-shadow: 5px 5px 15px 0px darkgrey;
  /* background image is inline because of dynamic content */
}

#newsRowBoxes
{
  width:100%;
  height:125px;
  bottom:0;
  position:absolute;
  /* background color is inline because of dynamic content */
}

#newsRowTextTitle
{
  /*-webkit-text-stroke: 0.2px black;*/
  color:lightgrey;
  font-size:large;
  font-weight:bold;
  margin-left:5px;
  margin-top:4px;
  line-height: 110%;
  width:100%;
}

#newsRowTextDate
{
  color:silver;
  font-size:medium;
  text-decoration:underline;
  margin-left:5px;
  margin-top:2px;
}

#newsRowTextBody
{
  color:silver;
  font-size:medium;
  margin-left:5px;
  margin-top:2px;
  width:80%;
}

#newsRowIcons img
{
  width:4vw;
  height:4vw;
  right:0px;
  bottom:0px;
  position:absolute;
  padding:0px;
  margin-bottom:10px;
}

#newsRowLikeIcon
{
  width:60px;
  height:60px;
  -webkit-user-select: none;
  pointer-events:all;
  position:absolute;
  bottom:85%;
  right:-5px;
  z-index:2;
}

#newsRowLikeIcon img
{
  position:relative;
  width:64px;
  height:64px;
  -webkit-user-select: none;
  padding:10px;
  margin-top:0px;
  z-index:0;
  float:right;
  display:block;
}

#newsRowLikeIcon p
{
  display:block;
  height:100%;
  color:lightgrey;
  font-size:x-small;
  font-weight:bold;
  z-index:1;
  cursor:pointer;
  text-align: center;
  -webkit-user-select: none;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top:35%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#newsRowLikeIcon img:hover
{
  cursor:pointer;
}

/*
 * MAIN PAGE STORIES ROW
 */

 #storyBoxControlRow
 {
   padding:0px;
   margin:auto;
   width:calc(var(--globalwidth)*2);
 }

 #storyBoxControlDiv
 {
   background-color:#185472;
   width:100%;
   height:450px;
 }

 #storyBoxControlDiv h1
 {
   color: lightgrey;
   font-size:xx-large;
 }

 #storyBoxControlDivTitle
 {
   padding-top:30px;
 }


.iFrameStoriesFP
{
  width:530px;
  height:300px;
}

#dotStoriesIndex
{
  position:absolute;
  padding-top:2px;
  right:0px;
  bottom:0px;
  height:25px;
  width:100%;
  cursor:pointer;
}

#dotStoriesIndex ul
{
  list-style: none; float:right;
}

#dotStoriesIndex ul li
{
  float:left; padding-left:5px;
}

.dotStoriesIndexDiv
{
  display:  block;
  width:17px;
  height:17px;
  border-radius:25px;
}

#storiesIndexText
{
  margin-top:105px;
  height:300px;
  padding:0px;
}

#storiesIndexText h1
{
  color: lightgrey;
  text-align:left;
  margin:0px;
}

#storiesIndexText p
{
  font-size:medium;
  color: lightgrey;
  padding-top:75px;
  text-align:justify;
}

.storiesIndexVideo
{
  padding-top:10px;
}

/*
 * MAIN PAGE PARTNERS ROW
 */

 #partnerBox
 {
   background-color:var(--greyColor);
   width:calc(var(--globalwidth)*2);
   margin:auto;
   margin-bottom:50px;
 }

 #partnerBox h1
 {
   color:#185472;
   padding-top:30px;
 }

 #slickCarouselPartners
 {
   margin-top:40px;
   width:calc(var(--globalwidth)*2);
   height:100px;
   padding-bottom:30px;
 }

 #slickCarouselPartners ul
 {
   list-style: none;
   height:100px;
   display:table-row;
   padding-left:30px;
 }

 #slickCarouselPartners ul li
 {
  vertical-align:middle;
  margin:auto;
  display:table-cell;
  width:350px;
 }

 #slickCarouselPartners ul li img
 {
   max-width:14vw;
   margin:auto;
   max-height:95px;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
 }

/*
 * FOOTER
 */

 #footer
 {
   background-color:#185472;
   margin:0px;
   width:100%;
   height:200px;
 }


 #footerRow
 {
   font-weight:600;
   color:lightgrey;
   margin:auto;
   width:calc(var(--globalwidth)*2);
 }

 #footerLeft
 {
   padding:0px;
   height:20vh;
 }

 #footerRight p
 {
   text-align:right;
   margin-top:100px;
   position:absolute;
   right:0px;
 }

 #footerRight a
 {
   color:var(--goldenColor);
 }

 #footerRight a:hover
 {
   color:lightgrey;
 }



/*
 * ADMIN SMART TABLES
 */

table
{
  table-layout:fixed;
}

thead {
    display: table-header-group;
    width: 100%; /* this can vary */
    height:5vh;
    text-align: center;
}


th, tbody td {
    text-overflow: ellipsis;
    border: 0.1px solid black;
    height:1vh;
    overflow-y:auto;

}

tbody tr
{
    position:absolute
    height:20vh;
    overflow-y:auto;
}

/*
 * ADMIN INPUT FORM
 */

input[type="file"] {
    width:180px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    background-color:white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.contactForm
{
  color:lightgrey;
  padding-left:10px;
  background-color:#185472;
  border:1px solid var(--greyColor);
}

#contactFormContainer
{
  margin-top:110px;
  width:calc(var(--globalwidth))/2;
}

#containerContacts
{
  background-color:#185472;
  height:100% !important;
}

#textAreaContact
{
  padding-top:20px;
  padding-left:10px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  margin-top:20px;
  height:150px;
  width:100% !important;
}

#contactName
{
  width:46.31% !important;
  height:50px;
}

#contactEmail
{
  margin-left:50px;
  width:46.3% !important;
  height:50px;
}


#buttonSubmitContact
{
  color:lightgrey;
  background-color:#185472;
  border:1px solid var(--greyColor);
  float:right;
  margin-right:0px;
  margin-top:-64px;
  width:17vw;
  height:50px;
  font-weight:600;
}

#buttonSubmitContact:hover
{
  color:#185472;
  background-color:lightgrey;
  border:1px solid #185472;
}


.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.evenStory
{
  background-color:lightgrey;
}

.container-fluid
{
  padding:0px;
}

#donateNowButton
{
  font-size:18px;
  font-weight:600;
  color:#cea44a
}

#donateNowButton:hover
{
  font-size:18px;
  font-weight:600;
  color:var(--blueColor);;
}

#bs-example-navbar-collapse-1 ul li a
{
  cursor:pointer;
}

.navbar-header-links
{
  cursor:pointer;
}

#missionText
{
  width:calc(var(--globalwidth)*2);
  margin:auto;
}

#missionText h1
{
  font-size:xx-large;
  font-weight:600;
  color:#cea44a;
}

#missionText p
{
  font-size:medium;
  width:100%;
  text-align:justify;
  color:grey;
  font-weight:600;
}

#teamText
{
  position:inherit;
  width:calc(var(--globalwidth)*2);
  margin:auto;
  margin-bottom:80px;
  background-color:#185472;
  height:800px;
  margin-top:60px;
  z-index:2;
}

#teamFiller
{
  position:absolute;
  width:calc(var(--globalwidth)*2);
  background-color:#185472;
  height:800px;
  right:0px;
  top:363px;
  z-index:1;
}

#teamText h1
{
  font-size:xx-large;;
  font-weight:600;
  color:#cea44a;
  padding-top:25px;
  padding-left:20px;
}

#teamContainer
{
  width:calc(var(--globalwidth)*2);
  height:auto;
  z-index:2;

}

#teamContainer ul
{
  list-style: none;
  padding-left:48px;
  z-index:2;

}

#teamContainer ul li
{
  float:left;
  z-index:2;

}

.teamMemberPhoto
{
  z-index:2;
  margin-top:10px;
  width:325px;
  height:300px;
  background-color:white;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.teamMemberTag
{
  padding-top:5px;
  border:1px solid lightgrey;
  border-bottom:none;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  position:absolute;
  margin-right:30px;
  margin-top:-20px;
  width:325px;
  height:20px;
  background-color:#185472;
}

.teamMemberTag p
{
  margin-top:-5px;
  text-align:center;
  margin-left:1%;
  color:white;
  font-size:small;
}

#projectsPageDiv
{
  margin:auto;
  width:calc(var(--globalwidth)*2);
  height:auto;
}

#projectContainer
{
  width:31.8%;
  float:left;
}

#projectImages
{

  width:100%;
  display:block;
  color:black;
  height:30vh;
  background-size:cover;
  background-position:50% 0%;
  position:relative;
  box-shadow: 5px 5px 15px 0px darkgrey;
  /* background image is inline because of dynamic content */
}

#projectBox
{
  background-color:#185472;
  position:absolute;
  bottom:0px;
  height:10vh;
  width:100%;
}

#projectTitle
{
  color:lightgrey;
  font-size:medium;
  font-weight:600;
  padding-left:20px;
  padding-top:10px;
}

#projectDescription
{
  color:lightgrey;
  font-size:small;
  font-weight:600;
  padding-left:20px;
  padding-top:10px;
}

#statsDiv
{
  width:100%;
  margin-top:33px;
  background-color:#185472;
  height:400px;
}

#statsDivImagesContainer
{
  height:400px;
  width:calc(var(--globalwidth)*2);
  text-align:center;
  margin:auto;

}

#statsDivImage
{
  float:left;
  display:block;
  width:25%;
  height:300px;
  margin-top:50px;
}

#statsDivImage img
{
  width:50%;
  margin:auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#statsDivImage h1
{
  margin-top:20px;
  color:var(--greyColor);
  font-size:480%;
  font-weight:600;
  margin-bottom:0px;
  line-height: 0.7;
}

#statsDivImage p
{
  color:var(--greyColor);
  font-size:large;
  font-weight:100;
}

#donationDiv
{
  height:110vh;
  background-size:cover;
  -webkit-box-shadow: inset 0px -200px 44px -175px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0px -200px 44px -175px rgba(255,255,255,0.5);
  box-shadow: inset 0px -200px 44px -175px rgba(255,255,255,0.5);
}

#donationPageBoxTitles
{
  width:calc(var(--globalwidth)*2);
  margin:auto;
  color:white;
  text-align:center;
  padding-top:140px;
}

#donationPageBoxTitles h1
{
  font-size:128px;
  font-weight:600;
  text-shadow: 2px 2px 10px grey;
}

#donationPageBoxTitles h2
{
  font-size:64px;
  font-weight:600;
  text-shadow: 2px 2px 10px grey;
}

#donationPageBoxButtons
{
  background-color:#185472;
  height:350px;
  width:420px;
  float:left;
  margin-top:160px;
  margin-right:10px;
}

#donationPageBoxPaypal
{
  background-color:var(--greyColor);
  height:350px;
  width:920px;
  float:right;
  margin-top:160px;
}

#donationPageBoxPaypalLeft
{
  float:left;
  height:70%;
  width:50%;
}

#donationPageBoxPaypalRight
{
  float:right;
  height:70%;
  width:50%;
  padding-top:20px;
}

#donationPageBoxPaypalRightContainer
{
  border:2px solid #185472;
  width:80%;
  height:40%;margin:auto;
  margin-bottom:20px;
}

#donationPageBoxPaypalRightContainerEuro
{
  padding:0px;
  padding-left:10px;
  font-size:69px;
  color:#185472;
  text-align:left;
  height:100%;
  width:30%;
  float:left;
}

#donationPageBoxPaypalRightContainerValue
{
  padding:0px;
  width:60%;
  float:right;
  height:100%;
  text-align:right;
  padding-right:10px;
  padding-bottom:20px;
  font-size:69px;
  color:#185472;
}

#donationPageBoxPaypalRightContainerDonate
{
  background-color:#185472;
  width:80%;
  height:40%;
  margin:auto;
}

#donationPageBoxPaypalRightContainerDonate a
{
  font-size:360%;
  margin-left:15%;
}

#donationPageBoxPaypalRightContainerDonate:hover
{
  background-color:var(--goldenColor);
}

#donationPageBoxPaypal p
{
  padding:20px;
  font-size:14px;
  font-weight:600;
  color:grey;
  text-align:justify;
}

.donationPagedonateBoxButtonDivPage
{
  width:100%;
  height:25%;
  border:1px solid lightgrey;
}

.donationPagedonateBoxButtonDivPage:hover
{
  cursor:pointer;
  background-color:var(--goldenColor);
}

.donationPagedonateBoxButtonDivInsidePage
{
  float:left;
  padding:6px;
}

.donationPagedonateBoxButtonDivInsidePage img
{
  margin-top:4px;
  border:1.5px solid lightgrey;
  border-radius:5px;
  padding:4px;
}

.donationPagedonateBoxButtonDivInsideTextPage
{
  margin-top:8px;
  color:lightgrey;
  font-size:20px;
  text-align:center;
}

.donationPagedonateBoxButtonDivInsideText
{
  margin-top:13px;
  color:lightgrey;
  font-size:42px;
  text-align:center;
}

#linkDonate
{
  text-decoration:none;
  color:lightgrey;
}

input.donation {
  width:100%;
  height:100%;
  background-color:#dedede;
  border: none;
  border-color: transparent;
  text-align:right;
}

input.donation:focus {
  outline: none;
}

#donationPageBoxPhone
{
  background-color:var(--greyColor);
  height:350px;
  width:920px;
  float:right;
  margin-top:160px;
}

#donationPageBoxPhoneLeft
{
    float:left;
    height:70%;
    width:100%;
}

#donationPageBoxPhone p
{
  padding:20px;
  font-size:14px;
  font-weight:600;
  color:grey;
  text-align:justify;
}

#donationPageBoxTransfer
{
  background-color:var(--greyColor);
  height:350px;
  width:920px;
  float:right;
  margin-top:160px;
}

#donationPageBoxTransferLeft
{
    float:left;
    height:70%;
    width:100%;
}

#donationPageBoxTransfer p
{
  padding:20px;
  font-size:14px;
  font-weight:600;
  color:grey;
  text-align:justify;
}

#donationPageBoxDonation
{
  background-color:var(--greyColor);
  height:350px;
  width:920px;
  float:right;
  margin-top:160px;
}

#donationPageBoxDonationLeft
{
    float:left;
    height:70%;
    width:100%;
}

#donationPageBoxDonation p
{
  padding:20px;
  font-size:14px;
  font-weight:600;
  color:grey;
  text-align:justify;
}

.memberForm
{
  padding-top:20px;
  padding-left:10px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

.memberFormInput
{
  margin-bottom:2px;
  padding-left:20px;
  color:white;
  background-color:#185472;
  border:1px solid lightgrey;
}

#membershipRow
{
  border-bottom:1px solid #185472;
  width:100%;
  margin-left:0px;
  padding-bottom:40px;
}

#membershipContainer
{
  width:calc(var(--globalwidth)*2);
}

#membershipTitle
{
  text-align:justify;
}

#membershipForm
{
  margin-top:80px;
}

#membershipColumn1
{
  height:100%;
  width:50%;
  margin-top:22px;
}

#membershipColumn2
{
  height:232px;
  width:50%;
}

#rowContacts
{
  margin:auto;
  width:calc(var(--globalwidth)*2);
  padding-top:60px;
  color:lightgrey;
}

#storiesRow
{
  width:100%;
  margin-left:0px;
}

#partnersRow
{
  width:100%;
  margin-left:0px;
  background-color:#185472;
}

#partnersContainer
{
  width:79%;
  margin-left:8.5vw;
}

#partnersContainer h1
{
  color:#e8e8e8;
  margin-top:50px;
  margin-bottom:20px;
}

#partnersContainer p
{
  color:#e8e8e8;
  margin-top:20px;
  width:100%;
  text-align:justify;
  margin-bottom:50px;
}

#partnersContainerImgCont
{
  width:300px;
  margin:40px;
  text-align:center;
}

#partnersContainer img
{
  max-width:15vw;
  max-height:10vh;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#acknowledgementsStoriesText
{
  color:#185472;
  width:79%;
  height:240px;
  text-align:justify;
  padding-left:20px;
  padding-right:0px;
  margin-top:6px;
}

#iFrameAcknowledgments
{
  padding-left:12vw;
  padding-top:6px;
  width:90%;
  height:240px;
}

#buttonSubmitMembership
{
  color:lightgrey;
  background-color:#185472;
  border:1px solid var(--greyColor);
  float:right;
  margin-right:0px;
  margin-top:0px;
  width:280px;
  height:50px;
  font-weight:600;
}

#buttonSubmitMembership:hover
{
  color:#185472;
  background-color:lightgrey;
  border:1px solid #185472;
}
